.catalogue {
  margin-top: 164px;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;

  &-info {
    margin-right: 92px;
    margin-bottom: 100px;
    width: 388px;

    &__title {
      font-size: 50px;
      font-weight: 400;
      color: #292d32;
    }

    &__text {
      margin-top: 29px;
      font-size: 18px;
      font-weight: 300;
      color: #838383;
    }

    &-detail {
      display: flex;
      margin-top: 46px;
      align-items: center;

      &__button {
        height: 55px;
        width: 55px;
        background-color: #33a9ff;
        border-radius: 50%;
        margin-right: 12px;
      }

      &__pointer {
        margin-top: 4px;
      }

      &__link {
        line-height: 30px;
        font-size: 16px;
        font-weight: 400px;
        color: #292d32;
      }
    }
  }

  &-item {
    margin-right: 40px;
    margin-bottom: 40px;
    width: 440px;
    height: 371px;
    background-color: #f2f2f2;
    border-radius: 20px;

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &__number {
      margin: 40px 0 0 40px;
      color: #292d32;
      font-size: 25px;
      font-weight: 100;
    }

    &__img {
      position: relative;
    }

    &__amount {
      position: relative;
      bottom: 43px;
      left: 40px;
      font-size: 18px;
      font-weight: 300;
      color: #838383;
    }

    &__title {
      position: relative;
      bottom: 38px;
      left: 40px;
      color: #292d32;
      font-size: 25px;
      font-weight: 400;
    }

    &:nth-of-type(1) img {
      left: 12px;
      bottom: 76px;
    }

    &:nth-of-type(2) img {
      left: 115px;
      bottom: 86px;
    }

    &:nth-of-type(3) {
      .catalogue-item__img {
        top: 3px;
        left: 51px;
      }
      .catalogue-item__amount{
        top: 49px;
      }
      .catalogue-item__title{
        top: 54px;
      }
    }

    &:nth-of-type(4) {
      .catalogue-item__img {
        bottom: 15px;
        left: 75px;
      }
      .catalogue-item__amount{
        top: 27px;
      }
      .catalogue-item__title{
        top: 32px;
      }
    }

    &:nth-of-type(5) {
      .catalogue-item__img {
        bottom: 26px;
        left: 87px;
      }
      .catalogue-item__amount{
        bottom: 27px;
      }
      .catalogue-item__title{
        bottom: 22px;
      }
    }
  }
}
