.footer {
  background-image: url(../imgs/footer/DELL.svg);
  background-repeat: no-repeat;
  background-position: 100% 83px;

  &-wrapper {
    margin: 294px auto 0 auto;
    width: 100%;
    font-family: Roboto;

    .categories {
      display: flex;
      border-bottom: 1px solid #e5e5e5;

      &__logo {
        margin: 29px 180px 98px 0;
      }

      &-items {
        margin-right: 180px;

        &__link {
          display: flex;
          flex-direction: column;
          color: #292d32;
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 10px;

          &:nth-of-type(1) {
            color: #292d32;
            font-size: 25px;
            font-weight: 400;
            line-height: 29.3px;
            margin-bottom: 15px;
          }
        }

        &:nth-of-type(1) {
          width: 214px;
        }

        &:nth-of-type(2) {
          width: 195px;
        }

        &:nth-of-type(3) {
          width: 139px;
        }
      }
    }

    .info {
      display: flex;
      margin: 40px 0;

      &-element {
        display: flex;
        flex-direction: column;
        height: 59px;
        margin-right: 153px;

        &__address {
          font-weight: 400;
          font-size: 16px;
          line-height: 21.39px;
          color: #838383;
        }

        &__link {
          margin-top: 11px;
          color: #292d32;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
        }
      }

      &__icon {
        &:nth-of-type(1) {
          margin-right: 19px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .footer {
    background-image: url(../imgs/footer/DELLAdaptive.png);
    background-color: #f2f2f2;
    background-position: 90% 786px;

    &-wrapper {
      margin: 0;
      padding: 90px 15px 30px 15px;
      width: 100%;
      .categories {
        flex-wrap: wrap;
        justify-content: space-between;
        &__logo {
          width: 70px;
          height: 71px;
          margin: 0 152px 28px 137px;
        }

        &-items {
          margin-right: 0;

          &__link {
            font-size: 15px;

            &:nth-of-type(1) {
              font-size: 18px;
            }
          }

          &:nth-of-type(1) {
            margin: 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            width: 300px;
            order: 3;

            .categories-items__link {
              width: 113px;
              margin: 0;
              flex-shrink: 0;

              &:first-child {
                position: relative;
                bottom: 30px;
              }

              &:nth-of-type(3) {
                position: relative;
                bottom: 20px;
              }

              &:nth-of-type(5) {
                order: 6;
              }

              &:nth-of-type(6) {
                order: 5;
              }
            }
          }
          &:nth-of-type(2) {
            width: 158px;
            order: 2;
          }
          &:nth-of-type(3) {
            width: 131px;
            flex-grow: 1;
            order: 1;
          }
        }
      }

      .info{
        display: block;
        margin: 30px 0 0 0 ;
        &-element{
          margin: 0 0 20px 0;

          &__address {
            font-size: 15px;
          }

          &__link {
            font-size: 15px;
          }
        }

        &__icon {
          width: 30px;
          height: 30px;

          &:nth-of-type(1) {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
