.main {
  display: flex;
  height: 683px;
  background-color: #f2f2f2;
  font-family: Roboto;

  .gallery {
    display: flex;
    margin-left: 260px;

    &__dell {
      position: absolute;
      top: 220px;
      z-index: 1;
    }

    &-scroll {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25px;
      height: 168px;
      padding-top: 357px;
      z-index: 2;

      &__text {
        font-weight: 300;
        writing-mode: sideways-lr;
        padding-left: 3px;
        color: #838383;
        z-index: 2;

        &:before {
          box-sizing: unset;
        }
        &:after {
          box-sizing: unset;
        }
      }

      &__img {
        width: 25px;
        height: 39px;
        z-index: 2;
      }
    }

    .slider {
      padding-top: 74px;
      padding-left: 105px;
      z-index: 2;

      &-item {
        display: flex;

        &-info {
          width: 446px;

          &-detail {
            display: flex;
            margin-top: 60px;
            align-items: center;

            &__button {
              height: 55px;
              width: 55px;
              background-color: #33a9ff;
              border-radius: 50%;
              margin-right: 12px;
            }

            &__pointer {
              margin-top: 4px;
            }

            &__link {
              line-height: 30px;

              font-size: 16px;
              font-weight: 400px;
              color: #292d32;
            }
          }

          &__tagline {
            margin-top: 179px;
            font-weight: 300;
            font-size: 18px;
            color: #838383;
          }

          &__title {
            margin-top: 15px;
            font-weight: 400px;
            font-size: 50px;
            color: #292d32;
          }
        }

        &__img {
          position: relative;
          right: 50px;
        }
      }

      &-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: 900px;
        bottom: 128px;
        width: 69px;
        z-index: 3;

        &__point {
          width: 5px;
          height: 5px;
          background-color: #d0d0d0;
          border-radius: 50%;

          &:first-child {
            width: 9px;
            height: 9px;
            background-color: #292d32;
          }
        }
      }
    }

    &-preview {
      background-color: #f9f9f9;
      height: 683px;
      width: 509px;

      &__title {
        position: relative;
        left: 40px;
        bottom: 160px;
        width: 181px;
        color: #292d32;
        font-weight: 400;
        font-size: 25px;
      }

      &__pointer {
        position: relative;
        bottom: 76px;
        left: 40px;
      }
    }
  }
}
