.news {
  width: 1400px;
  margin: 172px auto 180px auto;
  font-family: Roboto;

  &-header {
    display: flex;
    justify-content: space-between;

    &__title {
      font-weight: 400;
      font-size: 50px;
      line-height: 58.59px;
      color: #292d32;
    }

    &-detail {
      display: flex;
      align-items: center;

      &__button {
        height: 55px;
        width: 55px;
        background-color: #33a9ff;
        border-radius: 50%;
        margin-right: 12px;
      }

      &__pointer {
        margin-top: 4px;
      }

      &__link {
        line-height: 30px;
        margin-right: 17px;
        font-size: 16px;
        font-weight: 400px;
        color: #292d32;
      }
    }
  }

  &__text {
    width: 721px;
    margin: 25px 0 70px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #838383;
  }

  .feed {
    display: grid;
    grid-template-columns: 415px 415px 415px;
    grid-column-gap: 77px;
    grid-row-gap: 66px;

    &-item {
      position: relative;
      border-top-left-radius: 45px;
      border-bottom-right-radius: 45px;
      width: 415px;
      height: 364px;
      background-image: url(../imgs/news/One.png);
      background-repeat: no-repeat;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);

      &-date {
        position: absolute;
        left: 390px;
        top: 64px;
        width: 50px;
        height: 97px;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.05);
        text-align: center;
        padding: 24px 0;

        &__title {
          color: #292d32;
          font-weight: 700;
          font-size: 25px;
          line-height: 29.3px;
        }

        &__text {
          font-weight: 300;
          font-size: 11px;
          line-height: 29.3px;
        }
      }

      &-footer {
        height: 146px;
        width: 415px;
        position: absolute;
        bottom: 0px;
        background-image: url(../imgs/news/GeometricBlock.svg);
        //border-bottom-right-radius: 45px;

        &-button_wrapper {
          width: 67px;
          height: 67px;
          position: absolute;
          border-radius: 50%;
          background-color: #ffffff;
          left: 323px;
          bottom: 65px;

          &__button_item {
            position: relative;
            left: 12px;
            top: 12px;
            width: 43px;
            height: 43px;
            background-color: #292d32;
            border-radius: 50%;

            img {
              padding-top: 4px;
            }
          }
        }

        &__title {
          margin: 24px 0 0 30px;
          width: 268px;
          font-weight: 700;
          font-size: 25px;
          line-height: 32.5px;
          color: #292d32;
        }

        &__text {
          margin: 11px 0 0 30px;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
        }
      }

      &:nth-child(2) {
        background-image: url(../imgs/news/Two.png);
      }
      &:nth-child(3) {
        background-image: url(../imgs/news/Three.png);
      }
      &:nth-child(4) {
        background-image: url(../imgs/news/Four.png);
      }
      &:nth-child(5) {
        background-image: url(../imgs/news/Five.png);
      }
      &:nth-child(6) {
        background-image: url(../imgs/news/Six.png);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .news {
    width: 100%;
    margin: 120px auto 120px auto;
    padding: 0 15px;

    &-header {
      flex-direction: column;
      &__title {
        font-size: 30px;
      }

      &-detail {
        &__link {
          font-size: 15px;
          order: 2;
        }
        &__button {
          width: 45px;
          height: 45px;
          order: 1;
        }
      }
    }

    &__text {
      font-size: 15px;
      max-width: 344px;
    }

    .feed {
      display: block;

      &-item {
        width: 324px;
        height: 293px;
        background-size: 324px 235px;
        margin-bottom: 20px;

        &-date {
          width: 39.2px;
          height: 76.06px;
          left: 305px;

          &__title {
            font-weight: 700;
            font-size: 22px;
            line-height: 17.92px;
          }

          &__text {
            width: 30px;
            font-size: 15px;
            margin-left: 5px;
            line-height: 10.75px;
            font-weight: 300;
            overflow: hidden;
          }
        }

        &-footer {
          width: 324px;
          height: 143px;
          background-size: 324px 143px;

          

          &-button_wrapper {
            width: 56px;
            height: 56px;
            left: 251px;
            top: 27px;

            &__button_item {
              width: 32px;
              height: 32px;
            }
          }
          &__title {
            margin: 21px 0 0 20px;
            line-height: 25px;
          }

          &__text {
            margin: 10px 0 0 20px;
            line-height: 21px;
            
          }
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          display: none;
        }

        &:nth-child(6) {
          display: none;
        }
      }
    }
  }
}
