.advantage {
  position: relative;
  background-color: #f2f2f2;
  margin-top: 140px;
  height: 975px;
  font-family: Roboto;
}
.advantage-wrapper {
  display: grid;
  grid-template-rows: 579px 290px;
  grid-template-columns: repeat(4, 330px);
  gap: 48px 27px;
  margin: 0 auto;
}
.advantage-wrapper .advantage__notebook {
  position: absolute;
  margin-top: 87px;
}
.advantage-info {
  grid-column: 3/5;
  margin-top: 183px;
}
.advantage-info__title {
  width: 492px;
  font-size: 50px;
  font-weight: 400;
  color: #292d32;
}
.advantage-info__text {
  width: 518px;
  margin-top: 37px;
  font-size: 18px;
  color: #838383;
}
.advantage-info-detail {
  display: flex;
  margin-top: 41px;
  align-items: center;
}
.advantage-info-detail__button {
  height: 55px;
  width: 55px;
  background-color: #33a9ff;
  border-radius: 50%;
  margin-right: 12px;
}
.advantage-info-detail__pointer {
  margin-top: 4px;
}
.advantage-info-detail__link {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400px;
  color: #292d32;
}
.advantage-info::before {
  content: "";
  display: block;
  position: absolute;
  width: 897px;
  height: 346px;
  background-image: url(../imgs/advantage/best\ quality.svg);
  background-repeat: no-repeat;
  top: 152px;
  left: 5px;
}
.advantage-info::after {
  content: "";
  display: block;
  position: absolute;
  width: 874px;
  height: 492px;
  background-image: url(../imgs/advantage/notebook.png);
  top: 87px;
  left: 189px;
}
.advantage .pros {
  display: flex;
  margin: 0 auto;
}
.advantage .pros-card {
  width: 330px;
  height: 289px;
  padding: 30px;
  background-color: #292d32;
  background-image: url(../imgs/advantage/vector.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  border-radius: 20px;
}
.advantage .pros-card:last-child {
  margin-right: 0;
}
.advantage .pros-card-logo {
  width: 70px;
  height: 70px;
  padding: 17px;
  background-color: #343a41;
  border-radius: 10px;
}
.advantage .pros-card__title {
  margin-top: 25px;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
}
.advantage .pros-card__title_adaptive {
  display: none;
}
.advantage .pros-card__text {
  margin-top: 13px;
  color: #b7b7b7;
  font-weight: 300;
  font-size: 16px;
}
.advantage .pros-card__text_adaptive {
  display: none;
}

@media screen and (max-width: 375px) {
  .advantage {
    margin-top: 100px;
    height: 1546px;
    padding: 15px;
  }
  .advantage-wrapper {
    display: block;
  }
  .advantage-info {
    margin-top: 85px;
    margin-bottom: 179px;
  }
  .advantage-info__title {
    max-width: 296px;
    font-size: 30px;
  }
  .advantage-info__text {
    max-width: 336px;
    font-size: 15px;
  }
  .advantage-info-detail {
    margin-top: 30px;
  }
  .advantage-info-detail__button {
    width: 45px;
    height: 45px;
  }
  .advantage-info-detail__link {
    font-size: 15px;
  }
  .advantage-info::before {
    width: 335px;
    height: 121px;
    top: 373px;
    left: 14px;
    background-size: 335px 121px;
  }
  .advantage-info::after {
    width: 345px;
    height: 194px;
    top: 283px;
    left: 76px;
    background-size: 345px 194px;
    background-repeat: no-repeat;
  }
  .advantage .pros-card {
    padding: 15px;
    width: 345px;
    height: 211px;
    margin-bottom: 20px;
    background-size: 121px 64px;
    background-position: 106% 0;
    border-radius: 18px;
  }
  .advantage .pros-card:last-child {
    margin-bottom: 0;
  }
  .advantage .pros-card-logo {
    width: 50px;
    height: 50px;
    padding: 9px;
  }
  .advantage .pros-card-logo img {
    width: 31px;
    height: 31px;
  }
  .advantage .pros-card__title {
    display: none;
  }
  .advantage .pros-card__title_adaptive {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    line-height: 22.82px;
    color: #ffffff;
    font-weight: 700;
  }
  .advantage .pros-card__text {
    display: none;
  }
  .advantage .pros-card__text_adaptive {
    text-align: start;
    height: 60px;
    display: block;
    margin-top: 10px;
    color: #b7b7b7;
    font-weight: 300;
    font-size: 16px;
    line-height: 20.29px;
  }
}

/*# sourceMappingURL=advantage.css.map */
