.catalogue {
  margin-top: 164px;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
}
.catalogue-info {
  margin-right: 92px;
  margin-bottom: 100px;
  width: 388px;
}
.catalogue-info__title {
  font-size: 50px;
  font-weight: 400;
  color: #292d32;
}
.catalogue-info__text {
  margin-top: 29px;
  font-size: 18px;
  font-weight: 300;
  color: #838383;
}
.catalogue-info-detail {
  display: flex;
  margin-top: 46px;
  align-items: center;
}
.catalogue-info-detail__button {
  height: 55px;
  width: 55px;
  background-color: #33a9ff;
  border-radius: 50%;
  margin-right: 12px;
}
.catalogue-info-detail__pointer {
  margin-top: 4px;
}
.catalogue-info-detail__link {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400px;
  color: #292d32;
}
.catalogue-item {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 440px;
  height: 371px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.catalogue-item:nth-child(3n) {
  margin-right: 0px;
}
.catalogue-item__number {
  margin: 40px 0 0 40px;
  color: #292d32;
  font-size: 25px;
  font-weight: 100;
}
.catalogue-item__img {
  position: relative;
}
.catalogue-item__amount {
  position: relative;
  bottom: 43px;
  left: 40px;
  font-size: 18px;
  font-weight: 300;
  color: #838383;
}
.catalogue-item__title {
  position: relative;
  bottom: 38px;
  left: 40px;
  color: #292d32;
  font-size: 25px;
  font-weight: 400;
}
.catalogue-item:nth-of-type(1) img {
  left: 12px;
  bottom: 76px;
}
.catalogue-item:nth-of-type(2) img {
  left: 115px;
  bottom: 86px;
}
.catalogue-item:nth-of-type(3) .catalogue-item__img {
  top: 3px;
  left: 51px;
}
.catalogue-item:nth-of-type(3) .catalogue-item__amount {
  top: 49px;
}
.catalogue-item:nth-of-type(3) .catalogue-item__title {
  top: 54px;
}
.catalogue-item:nth-of-type(4) .catalogue-item__img {
  bottom: 15px;
  left: 75px;
}
.catalogue-item:nth-of-type(4) .catalogue-item__amount {
  top: 27px;
}
.catalogue-item:nth-of-type(4) .catalogue-item__title {
  top: 32px;
}
.catalogue-item:nth-of-type(5) .catalogue-item__img {
  bottom: 26px;
  left: 87px;
}
.catalogue-item:nth-of-type(5) .catalogue-item__amount {
  bottom: 27px;
}
.catalogue-item:nth-of-type(5) .catalogue-item__title {
  bottom: 22px;
}

@media screen and (max-width: 375px) {
  .catalogue {
    width: 100%;
    margin-top: 120px;
    padding: 0 15px;
  }
  .catalogue-info {
    margin: 0 0 40px 0;
  }
  .catalogue-info__title {
    font-size: 30px;
    line-height: 35.16px;
    width: 249px;
  }
  .catalogue-info__text {
    font-size: 15px;
    line-height: 22.5px;
    width: 335px;
  }
  .catalogue-info-detail {
    margin-top: 30px;
  }
  .catalogue-info-detail__button {
    width: 45px;
    height: 45px;
  }
  .catalogue-info-detail__link {
    font-size: 15px;
  }
  .catalogue-item {
    height: 290px;
    margin: 0 0 20px 0;
    border-radius: 10px;
  }
  .catalogue-item__number {
    font-size: 20px;
    margin: 20px 0 0 20px;
  }
  .catalogue-item__amount {
    left: 20px;
    bottom: 25px;
    font-size: 15px;
  }
  .catalogue-item__title {
    font-size: 20px;
    left: 20px;
    bottom: 20px;
  }
  .catalogue-item:nth-of-type(1) {
    height: 275px;
  }
  .catalogue-item:nth-of-type(1) .catalogue-item__img {
    width: 302px;
    height: 178px;
    left: 21px;
    bottom: 30px;
  }
  .catalogue-item:nth-of-type(2) img {
    width: 210px;
    height: 193px;
    left: 99px;
    bottom: 32px;
  }
  .catalogue-item:nth-of-type(3) .catalogue-item__img {
    width: 264px;
    height: 107px;
    left: 40px;
    top: 36px;
  }
  .catalogue-item:nth-of-type(3) .catalogue-item__amount {
    left: 20px;
    top: 65px;
  }
  .catalogue-item:nth-of-type(3) .catalogue-item__title {
    left: 20px;
    top: 69px;
  }
  .catalogue-item:nth-of-type(4) .catalogue-item__img {
    width: 226px;
    height: 124px;
    bottom: 0;
    left: 58px;
  }
  .catalogue-item:nth-of-type(4) .catalogue-item__amount {
    top: 47px;
  }
  .catalogue-item:nth-of-type(4) .catalogue-item__title {
    top: 51px;
  }
  .catalogue-item:nth-of-type(5) .catalogue-item__img {
    width: 253px;
    height: 167px;
    bottom: 14px;
    left: 68px;
  }
  .catalogue-item:nth-of-type(5) .catalogue-item__amount {
    bottom: -4px;
  }
  .catalogue-item:nth-of-type(5) .catalogue-item__title {
    bottom: -4px;
  }
}

/*# sourceMappingURL=catalogue.css.map */
