.footer {
  background-image: url(../imgs/footer/DELL.svg);
  background-repeat: no-repeat;
  background-position: 100% 83px;
}
.footer-wrapper {
  margin: 294px auto 0 auto;
  width: 1400px;
  font-family: Roboto;
}
.footer-wrapper .categories {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}
.footer-wrapper .categories__logo {
  margin: 29px 180px 98px 0;
}
.footer-wrapper .categories-items {
  margin-right: 180px;
}
.footer-wrapper .categories-items__link {
  display: flex;
  flex-direction: column;
  color: #292d32;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
.footer-wrapper .categories-items__link:nth-of-type(1) {
  color: #292d32;
  font-size: 25px;
  font-weight: 400;
  line-height: 29.3px;
  margin-bottom: 15px;
}
.footer-wrapper .categories-items:nth-of-type(1) {
  width: 214px;
}
.footer-wrapper .categories-items:nth-of-type(2) {
  width: 195px;
}
.footer-wrapper .categories-items:nth-of-type(3) {
  width: 139px;
}
.footer-wrapper .info {
  display: flex;
  margin: 40px 0;
}
.footer-wrapper .info-element {
  display: flex;
  flex-direction: column;
  height: 59px;
  margin-right: 153px;
}
.footer-wrapper .info-element__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.39px;
  color: #838383;
}
.footer-wrapper .info-element__link {
  margin-top: 11px;
  color: #292d32;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.footer-wrapper .info__icon:nth-of-type(1) {
  margin-right: 19px;
}

@media screen and (max-width: 375px) {
  .footer {
    background-image: url(../imgs/footer/DELLAdaptive.png);
    background-color: #f2f2f2;
    background-position: 90% 786px;
  }
  .footer-wrapper {
    margin: 0;
    padding: 90px 15px 30px 15px;
    width: 100%;
  }
  .footer-wrapper .categories {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-wrapper .categories__logo {
    width: 70px;
    height: 71px;
    margin: 0 152px 28px 137px;
  }
  .footer-wrapper .categories-items {
    margin-right: 0;
  }
  .footer-wrapper .categories-items__link {
    font-size: 15px;
  }
  .footer-wrapper .categories-items__link:nth-of-type(1) {
    font-size: 18px;
  }
  .footer-wrapper .categories-items:nth-of-type(1) {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 300px;
    order: 3;
  }
  .footer-wrapper .categories-items:nth-of-type(1) .categories-items__link {
    width: 113px;
    margin: 0;
    flex-shrink: 0;
  }
  .footer-wrapper .categories-items:nth-of-type(1) .categories-items__link:first-child {
    position: relative;
    bottom: 30px;
  }
  .footer-wrapper .categories-items:nth-of-type(1) .categories-items__link:nth-of-type(3) {
    position: relative;
    bottom: 20px;
  }
  .footer-wrapper .categories-items:nth-of-type(1) .categories-items__link:nth-of-type(5) {
    order: 6;
  }
  .footer-wrapper .categories-items:nth-of-type(1) .categories-items__link:nth-of-type(6) {
    order: 5;
  }
  .footer-wrapper .categories-items:nth-of-type(2) {
    width: 158px;
    order: 2;
  }
  .footer-wrapper .categories-items:nth-of-type(3) {
    width: 131px;
    flex-grow: 1;
    order: 1;
  }
  .footer-wrapper .info {
    display: block;
    margin: 30px 0 0 0;
  }
  .footer-wrapper .info-element {
    margin: 0 0 20px 0;
  }
  .footer-wrapper .info-element__address {
    font-size: 15px;
  }
  .footer-wrapper .info-element__link {
    font-size: 15px;
  }
  .footer-wrapper .info__icon {
    width: 30px;
    height: 30px;
  }
  .footer-wrapper .info__icon:nth-of-type(1) {
    margin-right: 30px;
  }
}

/*# sourceMappingURL=footer.css.map */
