.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 123px;
}
.header .popup {
  display: none;
  position: absolute;
  top: 112px;
  left: 936px;
  z-index: 100;
  transition: 2s;
}
.header .popup-menu {
  position: relative;
  margin-top: 11px;
  width: 405px;
  height: 389px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.header .popup-menu::after {
  content: "";
  position: absolute;
  top: -28px;
  left: calc(50% - 19px);
  background: white;
  border: 7px solid transparent;
  transform: rotate(45deg) translateX(15px) translateY(15px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.header .popup-menu .content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
}
.header .popup-menu .content__element {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 70px;
  height: 70px;
  border-bottom: 1px solid #f2f2f2;
}
.header .popup-menu .content__element:first-child {
  height: 79px;
  line-height: 49px;
  background-image: url(../imgs/header/profile.svg);
  background-repeat: no-repeat;
  padding-left: 69px;
}
.header .popup-menu .content__element:last-child {
  border-bottom: 0;
}
.header .popup_adaptive {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  line-height: 100%;
}
.navbar-topics {
  display: flex;
  align-items: center;
  color: #292d32;
  text-transform: uppercase;
}
.navbar-topics__icon {
  width: 70px;
  height: 70px;
}
.navbar-topics__item {
  margin-right: 45px;
  text-decoration: none;
  color: inherit;
}
.navbar-topics__item:first-child {
  margin-right: 60px;
}
.navbar-topics__item:nth-child(6) {
  margin-right: 50px;
}
.navbar-topics__item:last-child {
  margin-right: 0;
}
.navbar-topics__item:nth-child(n+2):hover {
  opacity: 0.6;
  transition: 0.3s;
}
.navbar-menu {
  display: flex;
  align-items: center;
  text-transform: none;
}
.navbar-menu__item {
  margin-right: 30px;
}
.navbar-menu__item:first-child {
  margin-right: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.navbar-menu__item:nth-child(5) {
  margin-right: 0;
}
.navbar-menu__item:last-child {
  display: none;
}
.navbar-menu__item:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.navbar-menu__counter {
  position: relative;
  top: -5px;
  right: 16px;
}

.blur {
  display: none;
  position: absolute;
  height: 9000px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 90px;
  z-index: 50;
  right: 0;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 375px) {
  .header {
    height: 90px;
  }
  .header .popup_adaptive {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    top: 90px;
    width: 100%;
    height: 390px;
    z-index: 100;
    padding: 56px 0 64px 38px;
    text-transform: uppercase;
  }
  .header .popup_adaptive__item {
    color: #292d32;
    font-size: 15px;
    line-height: 17.58px;
    font-weight: 400;
    margin-bottom: 45px;
  }
  .header .popup_adaptive__item:last-child {
    margin-bottom: 0;
  }
  .navbar-topics__icon {
    width: 60px;
    height: 60px;
  }
  .navbar-topics__item {
    margin: 0;
    display: none;
  }
  .navbar-topics__item:first-child {
    margin-left: 15px;
    margin-right: 67px;
    display: block;
  }
  .navbar-topics__item:last-child {
    display: block;
  }
  .navbar-menu__item {
    margin-right: 15px;
  }
  .navbar-menu__item:first-child {
    display: none;
  }
  .navbar-menu__item:nth-child(3) {
    display: none;
  }
  .navbar-menu__item:nth-child(4) {
    display: none;
  }
  .navbar-menu__item:nth-child(5) {
    margin-right: 0;
  }
  .navbar-menu__item:nth-child(6) {
    display: block;
    margin-right: 15px;
  }
}

/*# sourceMappingURL=header.css.map */
