/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  height: 123px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  line-height: 100%;
  text-transform: uppercase;
}
.navbar-topics {
  display: flex;
  align-items: center;
  color: #292d32;
}
.navbar-topics__icon {
  width: 70px;
  height: 70px;
}
.navbar-topics__item {
  margin-right: 45px;
  text-decoration: none;
  color: inherit;
}
.navbar-topics__item:first-child {
  margin-right: 60px;
}
.navbar-topics__item:nth-child(6) {
  margin-right: 50px;
}
.navbar-topics__item:last-child {
  margin-right: 0;
}
.navbar-topics__item:nth-child(n+2):hover {
  opacity: 0.6;
  transition: 0.3s;
}
.navbar-menu {
  display: flex;
  align-items: center;
}
.navbar-menu__item {
  margin-right: 30px;
}
.navbar-menu__item:last-child {
  margin-right: 0;
}
.navbar-menu__item:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.navbar-menu__counter {
  position: relative;
  top: -5px;
  right: 16px;
}

.main {
  display: flex;
  height: 683px;
  background-color: #f2f2f2;
  font-family: Roboto;
}
.main .gallery {
  display: flex;
  margin-left: 260px;
}
.main .gallery__dell {
  position: absolute;
  top: 220px;
  z-index: 1;
}
.main .gallery-scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 25px;
  height: 168px;
  padding-top: 357px;
  z-index: 3;
}
.main .gallery-scroll__text {
  font-weight: 300;
  writing-mode: sideways-lr;
  padding-left: 3px;
  color: #838383;
}
.main .gallery-scroll__text:before {
  box-sizing: unset;
}
.main .gallery-scroll__text:after {
  box-sizing: unset;
}
.main .gallery-scroll__img {
  width: 25px;
  height: 39px;
}
.main .gallery .slider {
  padding-top: 74px;
  padding-left: 105px;
  z-index: 3;
}
.main .gallery .slider-item {
  display: flex;
}
.main .gallery .slider-item-info {
  width: 446px;
}
.main .gallery .slider-item-info-detail {
  display: flex;
  margin-top: 60px;
  align-items: center;
}
.main .gallery .slider-item-info-detail__button {
  height: 55px;
  width: 55px;
  background-color: #33a9ff;
  border-radius: 50%;
  margin-right: 12px;
}
.main .gallery .slider-item-info-detail__pointer {
  margin-top: 4px;
}
.main .gallery .slider-item-info-detail__link {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400px;
  color: #292d32;
}
.main .gallery .slider-item-info__tagline {
  margin-top: 179px;
  font-weight: 300;
  font-size: 18px;
  color: #838383;
}
.main .gallery .slider-item-info__title {
  margin-top: 15px;
  font-weight: 400px;
  font-size: 50px;
  color: #292d32;
}
.main .gallery .slider-item__img {
  position: relative;
  right: 50px;
}
.main .gallery .slider-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 900px;
  bottom: 128px;
  width: 69px;
  z-index: 3;
}
.main .gallery .slider-buttons__point {
  width: 5px;
  height: 5px;
  background-color: #d0d0d0;
  border-radius: 50%;
}
.main .gallery .slider-buttons__point:first-child {
  width: 9px;
  height: 9px;
  background-color: #292d32;
}
.main .gallery-preview {
  background-color: #f9f9f9;
  height: 683px;
  width: 509px;
}
.main .gallery-preview__title {
  position: relative;
  left: 40px;
  bottom: 160px;
  width: 181px;
  color: #292d32;
  font-weight: 400;
  font-size: 25px;
}
.main .gallery-preview__pointer {
  position: relative;
  bottom: 76px;
  left: 40px;
}

.catalogue {
  margin-top: 164px;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
}
.catalogue-info {
  margin-right: 92px;
  margin-bottom: 100px;
  width: 388px;
}
.catalogue-info__title {
  font-size: 50px;
  font-weight: 400;
  color: #292d32;
}
.catalogue-info__text {
  margin-top: 29px;
  font-size: 18px;
  font-weight: 300;
  color: #292d32;
}
.catalogue-info-detail {
  display: flex;
  margin-top: 46px;
  align-items: center;
}
.catalogue-info-detail__button {
  height: 55px;
  width: 55px;
  background-color: #33a9ff;
  border-radius: 50%;
  margin-right: 12px;
}
.catalogue-info-detail__pointer {
  margin-top: 4px;
}
.catalogue-info-detail__link {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400px;
  color: #292d32;
}
.catalogue-item {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 440px;
  height: 371px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.catalogue-item:nth-child(3n) {
  margin-right: 0px;
}
.catalogue-item__number {
  margin: 40px 0 0 40px;
  color: #292d32;
  font-size: 25px;
  font-weight: 100;
}
.catalogue-item__img {
  position: relative;
}
.catalogue-item__amount {
  position: relative;
  bottom: 43px;
  left: 40px;
  font-size: 18px;
  font-weight: 300;
  color: #838383;
}
.catalogue-item__title {
  position: relative;
  bottom: 38px;
  left: 40px;
  color: #292d32;
  font-size: 25px;
  font-weight: 400;
}
.catalogue-item:nth-of-type(1) img {
  left: 12px;
  bottom: 76px;
}
.catalogue-item:nth-of-type(2) img {
  left: 115px;
  bottom: 86px;
}
.catalogue-item:nth-of-type(3) .catalogue-item__img {
  top: 3px;
  left: 51px;
}
.catalogue-item:nth-of-type(3) .catalogue-item__amount {
  top: 49px;
}
.catalogue-item:nth-of-type(3) .catalogue-item__title {
  top: 54px;
}
.catalogue-item:nth-of-type(4) .catalogue-item__img {
  bottom: 15px;
  left: 75px;
}
.catalogue-item:nth-of-type(4) .catalogue-item__amount {
  top: 27px;
}
.catalogue-item:nth-of-type(4) .catalogue-item__title {
  top: 32px;
}
.catalogue-item:nth-of-type(5) .catalogue-item__img {
  bottom: 26px;
  left: 87px;
}
.catalogue-item:nth-of-type(5) .catalogue-item__amount {
  bottom: 27px;
}
.catalogue-item:nth-of-type(5) .catalogue-item__title {
  bottom: 22px;
}

.advantage {
  position: relative;
  background-color: #f2f2f2;
  margin-top: 140px;
  height: 975px;
  font-family: Roboto;
}
.advantage__img {
  position: absolute;
  top: 2084px;
  left: 10px;
  z-index: 1;
}
.advantage-wrapper {
  display: grid;
  grid-template-rows: 579px 290px;
  grid-template-columns: repeat(4, 330px);
  gap: 48px 27px;
  margin: 0 auto;
}
.advantage-wrapper .advantage__notebook {
  position: absolute;
  margin-top: 87px;
}
.advantage-info {
  grid-column: 3/5;
  margin-top: 183px;
}
.advantage-info__title {
  width: 492px;
  font-size: 50px;
  font-weight: 400;
  color: #292d32;
}
.advantage-info__text {
  width: 518px;
  margin-top: 37px;
  font-size: 18px;
  color: #838383;
}
.advantage-info-detail {
  display: flex;
  margin-top: 41px;
  align-items: center;
}
.advantage-info-detail__button {
  height: 55px;
  width: 55px;
  background-color: #33a9ff;
  border-radius: 50%;
  margin-right: 12px;
}
.advantage-info-detail__pointer {
  margin-top: 4px;
}
.advantage-info-detail__link {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400px;
  color: #292d32;
}
.advantage-info::before {
  content: "";
  display: block;
  position: absolute;
  width: 897px;
  height: 346px;
  background-image: url(../imgs/advantage/best\ quality.svg);
  background-repeat: no-repeat;
  top: 152px;
  left: 5px;
}
.advantage-info::after {
  content: "";
  display: block;
  position: absolute;
  width: 874px;
  height: 492px;
  background-image: url(../imgs/advantage/notebook.svg);
  top: 87px;
  left: 189px;
}
.advantage .pros {
  display: flex;
  margin: 0 auto;
}
.advantage .pros-card {
  width: 330px;
  height: 289px;
  padding: 30px;
  background-color: #292d32;
  background-image: url(../imgs/advantage/vector.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  border-radius: 20px;
}
.advantage .pros-card:last-child {
  margin-right: 0;
}
.advantage .pros-card-logo {
  width: 70px;
  height: 70px;
  padding: 17px;
  background-color: #343A41;
  border-radius: 10px;
}
.advantage .pros-card__title {
  margin-top: 25px;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
}
.advantage .pros-card__text {
  margin-top: 13px;
  color: #b7b7b7;
  font-weight: 300;
  font-size: 16px;
}

.news {
  width: 1400px;
  margin: 172px auto 180px auto;
  font-family: Roboto;
}
.news-header {
  display: flex;
  justify-content: space-between;
}
.news-header__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58.59px;
  color: #292D32;
}
.news-header-detail {
  display: flex;
  align-items: center;
}
.news-header-detail__button {
  height: 55px;
  width: 55px;
  background-color: #33a9ff;
  border-radius: 50%;
  margin-right: 12px;
}
.news-header-detail__pointer {
  margin-top: 4px;
}
.news-header-detail__link {
  line-height: 30px;
  margin-right: 17px;
  font-size: 16px;
  font-weight: 400px;
  color: #292d32;
}
.news__text {
  width: 721px;
  margin: 25px 0 70px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #838383;
}
.news .feed {
  display: grid;
  grid-template-columns: 415px 415px 415px;
  grid-column-gap: 77px;
  grid-row-gap: 66px;
}
.news .feed-item {
  position: relative;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  width: 415px;
  height: 364px;
  background-image: url(../imgs/news/One.png);
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
}
.news .feed-item-footer {
  height: 146px;
  width: 415px;
  position: absolute;
  bottom: 0px;
  background-image: url(../imgs/news/GeometricBlock.svg);
}
.news .feed-item-footer-button_wrapper {
  width: 67px;
  height: 67px;
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  left: 323px;
  bottom: 65px;
}
.news .feed-item-footer-button_wrapper__button_item {
  position: relative;
  left: 12px;
  top: 12px;
  width: 43px;
  height: 43px;
  background-color: #292d32;
  border-radius: 50%;
}
.news .feed-item-footer-button_wrapper__button_item img {
  padding-top: 4px;
}
.news .feed-item-footer__title {
  margin: 24px 0 0 30px;
  width: 268px;
  font-weight: 700;
  font-size: 25px;
  line-height: 32.5px;
  color: #292d32;
}
.news .feed-item-footer__text {
  margin: 11px 0 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.news .feed-item:nth-child(2) {
  background-image: url(../imgs/news/Two.png);
}
.news .feed-item:nth-child(3) {
  background-image: url(../imgs/news/Three.png);
}
.news .feed-item:nth-child(4) {
  background-image: url(../imgs/news/Four.png);
}
.news .feed-item:nth-child(5) {
  background-image: url(../imgs/news/Five.png);
}
.news .feed-item:nth-child(6) {
  background-image: url(../imgs/news/Six.png);
}

.feedback {
  width: 1400px;
  display: flex;
  margin: 0 auto;
  position: relative;
  font-family: Roboto;
}
.feedback .contacts {
  width: 700px;
  height: 842px;
  background-color: #f9f9f9;
  padding: 100px 0 111px 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.feedback .contacts__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #292d32;
}
.feedback .contacts__about {
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #838383;
}
.feedback .contacts-info {
  margin-top: 50px;
}
.feedback .contacts-info__title {
  margin-top: 7px;
  display: inline-block;
  color: #838383;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.06px;
}
.feedback .contacts-info__address {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-left: 40px;
}
.feedback .contacts__icon {
  margin-top: 60px;
}
.feedback .contacts__icon:nth-of-type(1) {
  margin-right: 18px;
}
.feedback__img {
  position: absolute;
  top: 142px;
  left: 492px;
  width: 295px;
  height: 591px;
}
.feedback .form {
  width: 700px;
  padding: 100px 129px;
  background-color: #292d32;
}
.feedback .form__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
}
.feedback .form__about {
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.feedback .form-group {
  margin-top: 40px;
  position: relative;
  padding: 10px;
  border: 1px solid rgba(242, 242, 242, 0.5);
  border-radius: 20px;
  z-index: 1;
}
.feedback .form-group__label {
  position: absolute;
  top: -15px;
  left: 20px;
  color: rgba(242, 242, 242, 0.5);
  font-weight: 300;
  font-size: 18px;
  line-height: 24.06px;
  padding: 0 5px;
  z-index: 2;
  background-color: #292d32;
}
.feedback .form-group__control {
  line-height: 24.06px;
  border: none;
  color: #ffffff;
}
.feedback .form-group:nth-of-type(1) {
  margin-top: 65px;
  height: 59.25px;
}
.feedback .form-group:nth-of-type(2) {
  height: 59.25px;
}
.feedback .form-group:nth-of-type(3) {
  height: 158px;
}
.feedback .form-detail {
  display: flex;
  margin-top: 41px;
  align-items: center;
}
.feedback .form-detail__button {
  height: 55px;
  width: 55px;
  background-color: #33a9ff;
  background-image: url(../imgs/main/Pointer.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  margin-right: 12px;
}
.feedback .form-detail__pointer {
  margin-top: 4px;
}
.feedback .form-detail__link {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400px;
  color: #FFFFFF;
}

.our_contacts {
  position: absolute;
  background-color: #eeeeee;
  top: 4615px;
  height: 676px;
  width: 100%;
  background-image: url(../imgs/feedback/our\ contacts.svg);
  background-repeat: no-repeat;
  background-position-y: 184px;
}

.footer {
  background-image: url(../imgs/footer/DELL.svg);
  background-repeat: no-repeat;
  background-position: 100% 83px;
}
.footer-wrapper {
  margin: 294px auto 0 auto;
  width: 1400px;
  font-family: Roboto;
}
.footer-wrapper .categories {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}
.footer-wrapper .categories__logo {
  margin: 29px 180px 98px 0;
}
.footer-wrapper .categories-items {
  margin-right: 180px;
}
.footer-wrapper .categories-items__link {
  display: flex;
  flex-direction: column;
  color: #292d32;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
.footer-wrapper .categories-items__link:nth-of-type(1) {
  color: #292d32;
  font-size: 25px;
  font-weight: 400;
  line-height: 29.3px;
  margin-bottom: 15px;
}
.footer-wrapper .categories-items:nth-of-type(1) {
  width: 214px;
}
.footer-wrapper .categories-items:nth-of-type(2) {
  width: 195px;
}
.footer-wrapper .categories-items:nth-of-type(3) {
  width: 139px;
}
.footer-wrapper .info {
  display: flex;
  margin: 40px 0;
}
.footer-wrapper .info-element {
  display: flex;
  flex-direction: column;
  height: 59px;
  margin-right: 153px;
}
.footer-wrapper .info-element__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.39px;
  color: #838383;
}
.footer-wrapper .info-element__link {
  margin-top: 11px;
  color: #292d32;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.footer-wrapper .info__icon:nth-of-type(1) {
  margin-right: 19px;
}

.page {
  width: 1400px;
}

.wrapper {
  display: flex;
  justify-content: center;
  font-family: Roboto;
}

/*# sourceMappingURL=index.css.map */
